body {
    margin: 0px;
    padding: 0px;
}

.background {
    background-image: url('../images/tlo.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgba(0, 0, 0, 0.9);
    color: lightgray;
    border-radius: 10px;
    width: 80vw;
    height: 50vh;
}

.description {
    font-size: 30px;
    text-align: left;
    color: lightgray;
    line-height: 20px;
}

.information {
    font-size: 15px;
    text-align: left;
    color: lightgray;
}

.contact {
    font-size: 30px;
    text-align: right;
    color: lightgray;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: lightgray;
    text-align: left;
    line-height: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 30px;
    height: 20vh;
}

footer div {
    max-width: 30%;
}

.contact>p {
    font-size: 18px;
    color: lightgray;
}

.main {
    background-color: rgba(0, 0, 0, 0.9);
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

p {
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

.box div {
    width: 50%;
    height: 3vh;
    display: flex;
    justify-content: space-around;
    margin: 0% 25%
}

input,
select {
    text-align: center;
    background-color: lightgray;
}